<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Browser</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="file-btns">
        <button onclick="window.location.href='compiler.html'">New file</button>
        <button onclick="loadFiles()">Refresh</button>    
    </div>
    <div id="fileSection">
        <div id="fileList"></div>
    </div>
    <script src="js/qwebchannel.js"></script>
    <script src="js/homepage.js"></script>
</body>
</html>