<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Aqua Pastel</title>
    <link rel="stylesheet" href="css/mainstyles.css">
</head>
<body>
    <button id="compileBtn">Compile</button>
    <div class="compileSpace">
        <textarea type="text" id="inputField" placeholder="Type here" rows="1"></textarea>
        <object id="displayField" type="application/pdf">
            <a href=""> Your browser cant display pdf</a>
        </object>
    </div>


    <!-- <script src="js/qwebchannel.js"></script>
   <script src="js/main.js"></script> --!>
</body>
</html>
