* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    background-color: #0e1513;
    min-height: 100vh;
    margin: 0;
}

#compileBtn {
    position: relative;
    top: 2px;
    left: 75rem;
    padding: 10px;
    border-radius: 15px;
    width: 120px;
    background: black;
    color: white;
    cursor: pointer;
    border-width: 1px;
}
#compileBtn:hover {
    background: #1d4ed8;
    transform: translateY(-1px);
    /*?box-shadow: 0 4px 12px rgba(0,0,0,15);*/

}

.compileSpace {
    display: flex;
    background: black;
    justify-content: left;
    flex: content;
    position: relative;
    top: 20px;
}

#displayField { 
    width: 50rem;
}

#inputField {
    padding: 20px;
    color: white;
    flex: 1;
   /* height:calc(100vh-60px);*/
    border-radius: 20px;
    border-width: 0px;
    box-sizing: border-box;
}

