* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #141E30;
    --foreground: #3F5E96;
    --cream: #eee9df;
    --beige: #c4bcb0;
    --deep-ocean: #2c365a;
    --oceanic: #003f47;
    --cloud-mist: #e2f0f0;
}
.file-btns {
    /* flex-direction: row; */
    display: flex;
    flex-direction: row;
    /* align-items: ; */
    justify-content: center;
    gap: 10px;
    /* background-color: yellow; */
}

body {
    background: #1a1e24;
    font-family: monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

#fileSection {
    background: #0d1117;
    border: 1px solid #2d333b;
    min-height: 480px;
}

#fileList {
    padding: 8px;
}

.file-item {
    padding: 8px 12px;
    color: var(--cloud-mist);
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid #21262d;
}

.file-item:hover {
    background: var(--deep-ocean);
    /* color: #1c3e3e; */
}

#refreshBtn, #newFileBtn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #0d1117;
    color:var(--cloud-mist);
    border-radius: 20px;
    padding: 15px;
    width: 120px;
    border-width: 1px;
    border: darkblue;
}

#newFiletext {
    margin-right: 10px;
}
#refreshBtnText {
    margin-right: 6px;
    margin-left: 8px;
}
#refreshBtn:hover, #newFileBtn:hover {
    background-color: var(--deep-ocean);
}
#refreshBtnText img {
    flex: content;
    flex-direction: row;
    width: 20px;
    height: 20px;
}

#newFileBtn img {
    flex: content;
    flex-direction: row;
    width: 20px;
    height: 20px;
}

