* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.file-btns {
    /* flex-direction: row; */
    display: flex;
    flex-direction: row;
    /* align-items: ; */
    justify-content: center;
    gap: 10px;
    /* background-color: yellow; */
}

body {
    background: #1a1e24;
    font-family: monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

#fileSection {
    background: #0d1117;
    border: 1px solid #2d333b;
    min-height: 480px;
}

#fileList {
    padding: 8px;
}

.file-item {
    padding: 8px 12px;
    color: #c9d1d9;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid #21262d;
}

.file-item:hover {
    background: #161b22;
    color: #1c3e3e;
}

#refreshBtn, #newFileBtn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #0d1117;
    color:azure;
    border-radius: 20px;
    padding: 15px;
    width: 120px;
    border-width: 1px;
    border: darkblue;
}

#text {
    margin-right: 10px;
}

#refreshBtn:hover, #newFileBtn:hover {
    background-color: darkblue;
}
#newFileBtn img {
    flex: content;
    flex-direction: row;
    width: 20px;
    height: 20px;
}

